{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Zniżki za zakupy</title> {% endblock %}

{% block header %} <h1> Rabat jaki otrzymasz w zależności od ilości wydanych środków: </h1>{% endblock %}

 {% block body %}

     <style>
         p#tutaj
         {
             font-size: 26px;

         }
     </style>

     <p id="tutaj">0-199 zł: &nbsp; brak rabatu  </p>
     <p id="tutaj">200-299 zł: &nbsp; rabat <span style="color: brown">10% </span> </p>
     <p id="tutaj">300-499 zł: &nbsp; rabat <span style="color: brown">15% </span></p>
     <p id="tutaj">500-999 zł: &nbsp; rabat <span style="color: brown">20% </span> </p>
     <p id="tutaj">1000 zł i więcej: &nbsp; rabat <span style="color: brown">25% </span> </p>

 {% endblock %}