{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Podsumowanie zakupów</title> {% endblock %}

{% block header %} <h1> Dziękujemy za zakupy! </h1>{% endblock %}


 {% block body %}
     <p style="text-align: left; width: 750px; margin-right: auto; margin-left: auto;">
     <h3>Podsumowanie:</h3>
     <p>Kupiłeś {{ product.getProductName }} za
         <span style="color: brown">{{ price }}</span>,
         &nbsp na Twoim koncie pozostało
         <span style="color: brown">{{ user.getCash }}</span>.</p>
         <p>Życzymy smacznego!</p>
     <p style="margin-top: 50px; font-size: 28px;">
         <a style="color: #6b9311;" href="{{ path('stockInMachineUser') }}"> Kontynuuj zakupy;) </a>
     </p>
 {% endblock %}
