{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Edytuj profil</title> {% endblock %}

{% block header %} <h1> Edytuj profil</h1> {% endblock %}

{% block body %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock %}
