{% extends '@vending_machine/base.html.twig' %}

{% block header %} <h1> Zaktualizowane dane : </h1>{% endblock %}

{% block body %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock  %}
