{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Stołówka</title> {% endblock %}

{% block header %} <h1>Dostępne rodzaje posiłków: </h1>{% endblock %}

    {% block body %}

    <style>
        ul > li
        {
            list-style-type: none;
        }
    </style>

        <ul>
            <h3>Kliknij by edytowac</h3>
            {% for meal in meals %} <li><a href="{{ path('editservice', {'id' : meal.getId}) }}">{{ meal.getKindOfMeal }}</a></li>{% endfor %}
        </ul>

        <div class="kindOfmeal">
            <a href="{{ path('newservice') }}"> Dodaj nowy rodzaj</a>
        </div>

    {% endblock %}




