{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Twój glos ma znaczenie!</title> {% endblock %}

{% block header %} <h1 style="margin-top: 200px;"><p><span style="color: brown; letter-spacing: 3px; font-size: 62px;"> {{ user.getUserName }} </span>dziękujemy za Twój głos ;-)</p> <p>Dzięki niemu jesteśmy w stanie stale polepszać jakość naszych usług!</p></h1>{% endblock %}


    {% block body %}

    {% endblock %}