{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Twój glos ma znaczenie!</title> {% endblock %}

{% block header %} <h1>{{ user.getUserName }} dziękujemy za Twój głos. Dzięki niemu jesteśmy w stanie stale polepszać jakość naszych usług!</h1>{% endblock %}


    {% block body %}

    {% endblock %}