{# extends "@FOSUser/layout.html.twig" #}
{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Zmień hasło</title> {% endblock %}

{% block header %} <h1>Zmień hasło </h1>{% endblock %}


{% block body %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock %}
