{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Dania Mięsne</title> {% endblock %}

{% block header %} <h1 style="margin-bottom: 70px;">Menu dań mięsnych na najbliższy tydzień: </h1>{% endblock %}

    {% block body %}

        <ul class="dish">

            {% for m in meat %}
                <span>{{ m.getDay }}</span>
                <li>
                <a href="{{ path('editmeat', {'id':m.getId}) }}"> {{ m.getDish }}</a>
                </li>{% endfor %}
        </ul>

    {% endblock %}