{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Zaloguj się</title> {% endblock %}

{% block header %} <h1> Zaloguj się ;)</h1> {% endblock %}

{% block body %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}
