{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Dania Vege</title> {% endblock %}

{% block header %} <h1 style="margin-bottom: 70px;">Menu dań wegetariańskich na najbliższy tydzień: </h1>{% endblock %}

    {% block body %}

        <style>
            ul.dish > li > a
            {
                color: #6b9311;
            }

            ul.dish > li > a:hover
            {
                color: #5a8200;
            }
        </style>

        <ul class="dish">

            {% for vege in vegan %}
                <span>{{ vege.getDay }}</span>
                <li>
                <a href="{{ path('editvegan', {'id':vege.getId}) }}"> {{ vege.getDish }} </a>
            </li>{% endfor %}
        </ul>

    {% endblock %}