{# extends "@FOSUser/layout.html.twig" #}
{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Reset hasła</title> {% endblock %}

{% block header %} <h1>Wyślij ticket na reset hasła </h1>{% endblock %}

{% block body %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock %}
